<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Определения</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'/home/'}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Определения</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h3>Определения</h3>
        <a th:href="@{/definition/create}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить определение</a>
        <br /> <br />
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Определение</th>
                <th>Слово</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${definitions.empty}">
                <td colspan="3">Словарь пуст</td>
            </tr>
            <tr th:each="definition : ${definitions}">
                <td><span th:text="${definition.id}"></span></td>
                <td><span th:text="${definition.description}"></span></td>
                <td><span th:text="${definition.word.title}"></span></td>
                <td>
                    <a th:href="@{'/definition/view/' + ${ definition.id}}" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Просмотр
                    </a>
                    <a th:href="@{'/definition/update/' + ${ definition.id}}" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> редактировать
                    </a>
                    <a th:href="@{'/definition/delete/' + ${ definition.id}}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> удалить
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>