<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить определение</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="jumbotron">
        <h3>Словарь</h3>
        <span th:utext="${userName}"></span>
        <p>
            возможности:
        <ul>
            <li>добавление слов</li>
            <li>добавление определений</li>
            <li>поиск по словам</li>
        </ul>
        </p>
    </div>
</div>
</body>
</html>