<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить слово</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'/home/'}">Главная</a></li>
            <li class="breadcrumb-item"><a th:href="@{'/word/'}">Слова</a></li>
            <li class="breadcrumb-item active" aria-current="page">Добавить слово</li>
        </ol>
    </nav>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Добавление слова</h3>
        <form th:action="@{/word/create}"
              th:object="${wordForm}" method="POST">
            <div class="form-group has-danger">
                <label class="form-control-label" for="inputDanger1">Слово</label>
                <input type="text" th:field="*{title}" class="form-control form-control-danger" id="inputDanger1">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                <small class="form-text text-muted">Слово</small>
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>

</div> <!-- /container -->
</body>
</html>