<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Слово</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'/home/'}">Главная</a></li>
            <li class="breadcrumb-item"><a th:href="@{'/word/'}">Слова</a></li>
            <li class="breadcrumb-item active" aria-current="page">Просмотр слова</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h3>Просмотр слова</h3>
        <br/>
        <a th:href="@{'/word/delete/' + ${ word.id}}" type="button" class="btn btn-default"><span
                class="glyphicon glyphicon-trash" aria-hidden="true"></span> удалить</a>
        <br/>
        <ul>
            <li>
                <span>Id</span>
                <span th:text="${word.id}"></span>
            </li>
            <li>
                <span>Слово:</span>
                <span th:text="${word.title}"></span>
            </li>
            <li>
                <span>Определения:</span>
                <ul th:each="definition : ${word.definitions}" class="list-group">
                    <li th:text="${definition.description}" class="list-group-item"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>