<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet"/>
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet"/>


    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/offcanvas.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/core.css}" type="text/css"/>
    <script th:src="@{/js/jquery-1.3.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jMonthCalendar-1.2.0.js}" type="text/javascript"></script>
    <script th:src="@{/js/calendar.js}" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="body-bg">

<div class="dashboard-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-6">
                <div class="header-logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="Weddings | Find A Wedding Venue &amp; Supplier WordPress Theme">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 text-right col-md-4 col-sm-12 col-6">
                <div class="user-vendor">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="user-icon">
                                <img src="/images/dashboard-profile.jpg" alt="" class="rounded-circle mb10">
                            </span>
                            <span class="user-vendor-name">
								Дмитрий Максимов
						   </span>
                        </a>
                        <div class=" dashboard-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="index.html">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="offcanvas">
        <span id="icon-toggle" class="fa fa-bars"></span>
    </button>
</div>
<div class="dashboard-wrapper">
    <div class="dashboard-sidebar offcanvas-collapse">
        <div class="vendor-user-profile">
            <div class="vendor-profile-img">
                <img src="/images/dashboard-profile.jpg" alt="" class="rounded-circle"></div>
            <h3 class="vendor-profile-name">Дмитрий Максимов</h3>
            <a href="#" class="edit-link">ред. профиль</a>
        </div>
        <div class="dashboard-nav">
            <ul class="list-unstyled">
                <li>
                    <a href="/personal">
                    <span class="dash-nav-icon">
                        <i class="fas fa-user-circle"></i>
                    </span>Профиль
                    </a>
                </li>
                <li class="active">
                    <a href="/personal/calendar">
                    <span class="dash-nav-icon">
                        <i class="fas fa-compass"></i>
                    </span>Календарь
                    </a>
                </li>
                <li>
                    <a href="/logout"><span class="dash-nav-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>Выход
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashboard-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div>
                        <div id="jMonthCalendar"></div>
                        <br><br>
                        <button id="Button">Add More Events</button>
                        <button id="ChangeMonth">Change Months May 2009</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>

</body>
</html>