<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet"/>
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet"/>
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="dashboard-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-6">
                <div class="header-logo">
                    <a href="/">
                        <img src="/images/logo.png"
                             alt="Weddings | Find A Wedding Venue &amp; Supplier WordPress Theme">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 text-right col-md-4 col-sm-12 col-6">
                <div class="user-vendor">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="user-icon">
                                <img src="/images/dashboard-profile.jpg" alt="" class="rounded-circle mb10">
                            </span>
                            <span class="user-vendor-name">
								Дмитрий Максимов
						   </span>
                        </a>
                        <div class=" dashboard-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="index.html">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="offcanvas">
        <span id="icon-toggle" class="fa fa-bars"></span>
    </button>
</div>
<div class="dashboard-wrapper">
    <div class="dashboard-sidebar offcanvas-collapse">
        <div class="vendor-user-profile">
            <div class="vendor-profile-img">
                <img src="/images/dashboard-profile.jpg" alt="" class="rounded-circle"></div>
            <h3 class="vendor-profile-name">Дмитрий Максимов</h3>
            <a href="/profile" class="edit-link">ред. профиль</a>
        </div>
        <div class="dashboard-nav">
            <ul class="list-unstyled">
                <li class="active">
                    <a href="/personal">
                    <span class="dash-nav-icon">
                        <i class="fas fa-user-circle"></i>
                    </span>Профиль
                    </a>
                </li>
                <li>
                    <a href="/personal/calendar">
                    <span class="dash-nav-icon">
                        <i class="fas fa-compass"></i>
                    </span>Календарь
                    </a>
                </li>
                <li>
                    <a href="/logout"><span class="dash-nav-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>Выход
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="dashboard-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-page-header">
                        <h3 class="dashboard-page-title ">Профиль</h3>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-page-header">
                        <h3 class="dashboard-page-title ">Профиль</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="v-pills-profile-tab1" data-toggle="pill" href="#v-pills-profile1"
                           role="tab" aria-controls="v-pills-profile1" aria-selected="false">Данные пользователя</a>
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">Профиль</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                           role="tab" aria-controls="v-pills-profile" aria-selected="false">Пароль</a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div class="card">
                                <div class="card-header">Профиль</div>
                                <div class="card-body">
                                    <form>
                                        <div class="personal-form-info">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="vendorname">Имя</label>
                                                        <input id="vendorname" name="vendorname" type="text"
                                                               placeholder="" class="form-control ">
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="lname">Фамилия</label>
                                                        <input id="lname" name="lname" type="lname" placeholder=""
                                                               class="form-control ">
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="email">Email</label>
                                                        <input id="email" name="email" type="email" placeholder=""
                                                               class="form-control ">
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <button class="btn btn-default" type="submit">Сохранить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div class="card">
                                <div class="card-header">Смена пароля</div>
                                <div class="card-body">
                                    <form class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="currentpassword">Текущий
                                                    пароль</label>
                                                <input id="currentpassword" name="currentpassword" type="password"
                                                       placeholder="" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="newpassword">Новый пароль</label>
                                                <input id="newpassword" name="newpassword" type="password"
                                                       placeholder="" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">Профиль
                                                <label class="control-label" for="retypepassword">Повторите ввод
                                                    пароля</label>
                                                <input id="retypepassword" name="retypepassword" type="password"
                                                       placeholder="" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <button class="btn btn-default" type="submit">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab1">
                            <div class="card">
                                <div class="card-header">Суточная норма</div>
                                <div class="card-body">
                                    <form class="row">

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="vendorname">Каллории</label>
                                                <input id="vendorn2ame" name="vendorname" type="text" placeholder=""
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="vendorname">Жиры</label>
                                                <input id="vendorn3ame" name="vendorname" type="text" placeholder=""
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="vendorname">Белки</label>
                                                <input id="vendo4rname" name="vendorname" type="text" placeholder=""
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="vendorname">Углеводы</label>
                                                <input id="vend5orname" name="vendorname" type="text" placeholder=""
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <button class="btn btn-default" type="submit">Сохранить</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>

</body>
</html>