<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title> Категории рецептов </title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet"/>
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet"/>
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header" th:insert="~{fragments/header :: header}"></div>


<div class="page-header">
    <div class="container">
        <div class="row">
            <!-- page caption -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="page-caption">
                    <h1 class="page-title">Категории рецептов</h1>
                </div>
            </div>
            <!-- /.page caption -->
        </div>
    </div>
    <!-- page caption -->
    <div class="page-breadcrumb">
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Главная</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Каталог рецептов</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- page breadcrumb -->
</div>
<!-- /.page-header -->
<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" th:each="category : ${categories}">
                <div class="card-category">
                    <div class="category-image zoomimg">
                        <a th:href="@{'/catalog/category/' + ${ category.id}}" type="button" class="btn btn-default"><img src="/images/catergory-venue.jpg" alt=""></a>
                    </div>
                    <div class="category-content">
                        <h3 class="cateogry-title">
                            <a th:href="@{'/catalog/category/' + ${ category.id}}" type="button" class="btn btn-default" th:text="${category.title}"></a>
                            <span class="category-count"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer" th:insert="~{fragments/footer :: footer}"></div>
<!-- /.tiny-footer-section -->
<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>
</body>
</html>