<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title> Main page </title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet" />
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header"  th:insert="~{fragments/header :: header}"></div>



<div class="filter-form">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form class="form-row">
                    <!-- venue-type -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <select class="wide">
                            <option value="Venue Type">Venue Type</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Castle">Castle</option>
                            <option value="Barns">Barns</option>
                            <option value="Resort">Resort</option>
                            <option value="Church">Church</option>
                            <option value="In Door">In Door</option>
                        </select>
                    </div>
                    <!-- /.venue-type -->
                    <!-- distance km -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <select class="wide">
                            <option value="Guest">Guest</option>
                            <option value="1 - 100">1 - 100</option>
                            <option value="100 - 200">100 - 200</option>
                            <option value="200 - 500">200 - 500</option>
                            <option value="500 - 1000">500 - 1000</option>
                        </select>
                    </div>
                    <!-- /.distance km -->
                    <!-- price -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                        <select class="wide">
                            <option value="Price">Price</option>
                            <option value="$100 to$500">$100 to $500</option>
                            <option value="$500 to $2000">$500 to $2000</option>
                            <option value="$2000 to $3500">$2000 to $3500</option>
                            <option value="$3500 to $4500">$3500 to $4500</option>
                            <option value="$4500 to $5500">$4500 to $5500</option>
                        </select>
                    </div>
                    <!-- /.price -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                        <button class="btn btn-default btn-block" type="submit">Find Venue</button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-3 col-sm-12 col-12 mt-1">
                        <a class="btn-primary-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Advance Option </a>
                        <div class="collapse" id="collapseExample">
                            <div class="aminities">
                                <div class="row">
                                    <!-- checkbox -->
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1"> Groom Lounge</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2"> Bridal Suite</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Table and chairs</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4"> Get Ready Rooms</label>
                                        </div>
                                    </div>
                                    <!-- /.checkbox -->
                                    <!-- checkbox -->
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">Event Rentals</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6">Outside Vendors</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                            <label class="custom-control-label" for="customCheck7"> Bar Services</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                            <label class="custom-control-label" for="customCheck8"> Catering Services</label>
                                        </div>
                                    </div>
                                    <!-- /.checkbox -->
                                    <!-- checkbox -->
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck9">
                                            <label class="custom-control-label" for="customCheck9"> Clean Up</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                            <label class="custom-control-label" for="customCheck10">Event Planner</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                                            <label class="custom-control-label" for="customCheck11">Wifi</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                                            <label class="custom-control-label" for="customCheck12">Pet Friendly</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                                            <label class="custom-control-label" for="customCheck13">Accommodations</label>
                                        </div>
                                    </div>
                                    <!-- /.checkbox -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.filter-form -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-1.jpg" alt="" class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Ahmedabad, Gujarat.</p>
                    </div>
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                    <!-- /.Vendor Content -->
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-2.jpg" alt=""  class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Surat, Gujarat</p>
                    </div>
                    <!-- /.Vendor Content -->
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-3.jpg" alt=""  class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Rajkot, Gujarat</p>
                    </div>
                    <!-- /.Vendor Content -->
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-4.jpg" alt=""  class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Vadodara, Gujarat</p>
                    </div>
                    <!-- /.Vendor Content -->
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-5.jpg" alt="" class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Vapi, Gujarat</p>
                    </div>
                    <!-- /.Vendor Content -->
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="vendor-thumbnail">
                    <!-- Vendor thumbnail -->
                    <div class="vendor-img zoomimg">
                        <!-- Vendor img -->
                        <a href="#"><img src="images/vendor-img-6.jpg" alt="" class="img-fluid"></a>
                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.Vendor img -->
                    <div class="vendor-content">
                        <!-- Vendor Content -->
                        <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                        <p class="vendor-address">Bhavnagar, Gujarat.</p>
                    </div>
                    <!-- /.Vendor Content -->
                    <div class="vendor-meta">
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                            <span class="vendor-text">Start From</span></div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                            <span class="vendor-text">Guest</span>
                        </div>
                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i>
                                    </span>
                            <span class="rating-count vendor-text">(20)</span></div>
                    </div>
                </div>
                <!-- /.Vendor thumbnail -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link " href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer"  th:insert="~{fragments/footer :: footer}"></div>
<!-- /.tiny-footer-section -->
<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>
</body>
</html>