<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">
    <div class="container">
        <a class="navbar-brand" href="/home">Словарь</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/word/}">Слова</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/definition/}">Определения</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="get">
                        <button class="btn btn-md btn-danger btn-block" name="registration"
                                type="Submit">Выход
                        </button>
                    </form>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" action="/search/" method="get">
                <input class="form-control" type="text" name="q" placeholder="Поиск" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
</body>
</html>