body {
}

a {
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
        
#jMonthCalendar { position:relative; }
.MonthlyCalendar .MonthNavigation { border-bottom:solid 1px #ddd; clear:both; height:20px; padding:5px 10px 0 10px; }
.MonthlyCalendar .MonthNavPrev, .MonthlyCalendar .MonthNavNext, .MonthlyCalendar .TodayLink { width:7%; float:left; }
.MonthlyCalendar .YearNavNext, .MonthlyCalendar .YearNavPrev { width:10%; float:right; }
.MonthlyCalendar .MonthName { width:50%; text-align:center; font-weight:bold; float:left; }


.MonthlyCalendar { height:100%; width:100%; border:1px solid #DDDDDD; border-collapse:collapse; }
.MonthlyCalendar #CalendarHead {
	width:100%;
	background-attachment: scroll;
	background-color: #E4E4E4;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.MonthlyCalendar #CalendarHead .DateHeader { width:14%; text-align:center; }

.MonthlyCalendar #CalendarBody { }
.DateBox { vertical-align:top; border:solid 1px #ddd; }
.DateLabel { height:20px; width:100%; background:#F7F7F7 none repeat scroll 0 0; text-align:right; }
.DateLabel a { cursor:pointer; padding:0 5px 2px; text-decoration:none; line-height:16px; }


#CalendarBody .Weekend {
	background-attachment: scroll;
	background-color: #c7ffd6;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
#CalendarBody .Inactive{
	background-attachment: scroll;
	background-color: #a0a0a0;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.Today {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(http://scorebar.net/dev/calendar/images/patt.jpg);
	background-repeat: repeat;
	background-position: 0 0;
}

#jMonthCalendar .Event {
	font-size:10px;
	padding:4px;
	background-color:#C0D0FF;
	margin-bottom:1px;
-moz-border-radius:0 8px 8px 8px; 		border:solid 1px #000;
	cursor:pointer;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.Event a { text-decoration:none; color:#fff; }
.Event a:hover { }

.del-b:hover{
	background: black;
	color: white;
}
[type=checkbox]{
	cursor: pointer;
}
.remove-event{
	float: right;
}
.remove-event{
	 float: right;
	 background: white;
	 color: black;
 }
.remove-event:hover{
	background: black;
	color: white;
}
