<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>Главная страница</title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet" />
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header"  th:insert="~{fragments/header :: header(${user}) }"></div>
<!-- hero-section -->
<div class="hero-section">
    <div class="container">
        <div class="card">
            <div class="card-header"><h4 class="mb0">Калькулятор суточной нормы калорий и БЖУ</h4></div>
            <div class="">
                <form th:action="@{/}" th:object="${calculatorForm}" method="POST">
                    <!-- Form Name -->
                    <div class="venue-form-info card-body">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label">Пол</label>
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" name="gender"
                                                       value="male"
                                                       checked="checked" id="maleCheck">
                                                <label class="custom-control-label" for="maleCheck"> Мужской</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="radio" class="custom-control-input" name="gender"
                                                       value="female"
                                                       id="femaleCheck">
                                                <label class="custom-control-label" for="femaleCheck"> Женский</label>
                                            </div>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="ageInput">Возраст</label>
                                            <input id="ageInput" name="age" type="text" placeholder=""
                                                   class="form-control" th:field="*{age}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="growthInput">Рост (см)</label>
                                            <input id="growthInput" name="growth" type="text" placeholder=""
                                                   class="form-control" th:field="*{growth}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('growth')}" th:errors="*{growth}"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="weightInput">Вес (кг)</label>
                                            <input id="weightInput" name="weight" type="text" placeholder=""
                                                   class="form-control" th:field="*{weight}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="lifestyleSelect">Образ жизни</label>
                                            <select class="wide" id="lifestyleSelect" name="lifestyle" th:field="*{lifestyleId}">
                                                <option th:each="lifestyle : ${lifestyles}" th:value="${lifestyle.id}" th:text="${lifestyle.title}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="purposeSelect">Цель</label>
                                            <select class="wide" id="purposeSelect" name="purpose" th:field="*{purposeId}">
                                                <option th:each="purpose : ${purposes}" th:value="${purpose.id}" th:text="${purpose.title}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                                         th:insert="fragments/calculator :: (${user}? loginuser : ghost)">

                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">


                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="row">
                                    <p>Онлайн-калькулятор суточной нормы калорий и БЖУ поможет понять, какая норма
                                        необходима для поддержания формы, набора веса или похудения. Укажите ваши
                                        параметры, выберите образ жизни и цель. Система сделает расчет
                                        автоматически!</p>
                                    <p>Белки, жиры, углеводы – важнейшие составляющие нашей пищи. Планируя диету для
                                        похудения, необходимо предельно точно рассчитать суточную норму калорий для
                                        восполнения потребностей организма и соотношение БЖУ. Правильно подобранное
                                        питание позволит худеющим:
                                    </p>
                                    <ul>
                                        <li>не испытывать чувство голода, вялости и слабости;</li>
                                        <li>обеспечивать себя достаточным количеством питательных веществ;</li>
                                        <li>эффективно худеть, удерживать вес на определённом уровне, что особенно
                                            актуально для
                                            женщин;
                                        </li>
                                        <li>для мужчин — подобрать диету для набора мышечной массы или для похудения,
                                            подготовить тело для сушки;
                                        </li>
                                        <li>получить правильное соотношение и баланс полезных веществ в организме.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.hero-section -->
<div class="bg-white space-small">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb20">
                <h3>Расчет нормы ЖБУ</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb20">
                <h3>Заполнить календарь рецептов</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb20">
                <h3> придерживаться календаря</h3>
            </div>
        </div>
    </div>
</div>
<div class="space-small">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <h2 class="mb10">Категории рецептов</h2>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12" th:each="recipeCategory : ${recipeCategories}">
                <div class="venue-categories-block zoomimg">
                    <div class="venue-categories-img"> <a href="#"><img src="./images/venue_categories_img_1.jpg" alt="" class="img-fluid"></a>
                        <div class="venue-categories-overlay">
                            <h3 class="mb0">
                                <a th:href="@{'/catalog/category/' + ${ recipeCategory.id}}" type="button" class="btn btn-default" th:text="${recipeCategory.title}"></a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- venue-categoris-btn -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt60"><a th:href="@{'/category/all/'}" class="btn btn-default btn-lg">Все категории</a></div>
        </div>
        <!-- /.venue-categoris-btn -->
    </div>
</div>

<div class="footer"  th:insert="~{fragments/footer :: footer}"></div>


<!-- /.tiny-footer-section -->
<a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>
</body>
</html>