<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet" />
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="vendor-bg-image">


<div class=" vendor-form">
    <div class="container">
        <div class="row ">
            <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12  ">
                <!-- vendor head -->
                <div class="vendor-head">
                    <a href="index.html"><img src="images/logo.png" alt="Wedding Vendor & Supplier Directory HTML Template "></a>
                </div>
                <!-- /.vendor head -->
                <div class="st-tab">
                    <ul class="nav nav-tabs nav-justified" id="Mytabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab-1" aria-selected="true">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-2" href="/registration" aria-selected="false">Регистрация</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

                                <!--/.vendor-title -->
                                <form th:action="@{/login}" method="POST" >
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="username"></label>
                                                <input type="text" id="email" name="email" th:placeholder="Email"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group service-form-group">
                                                <label class="control-label sr-only" for="password"></label>
                                                <input type="password" th:placeholder="Пароль"
                                                       id="password" name="password" class="form-control"/>
                                            </div>
                                        </div>
                                        <!--buttons -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <button class="btn btn-default" name="Submit" value="Login" type="Submit"
                                                    th:text="Вход"></button>
                                        </div>
                                        <div align="center" th:if="${param.error}">
                                            <p style="font-size: 20; color: #FF1C19;">Email или пароль недействительны, пожалуйста, проверьте.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>




                        </div>
                        <!-- vendor-login -->
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <!-- vendor title -->
                                <div class="vendor-form-title">
                                    <h3 class="mb-2">Business Register</h3>
                                    <p>Join Weddingsto get your business listed or to claim your listing for FREE!</p>
                                </div>
                                <!-- /.vendor title -->
                                <form>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="bussinessname"></label>
                                                <input id="bussinessname" type="text" name="bussiness name" placeholder="Bussiness Name" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="control-label sr-only" for="username"></label>
                                                <input id="username" type="text" name="username" placeholder="User Name" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group service-form-group">
                                                <label class="control-label sr-only" for="email"></label>
                                                <input id="email" type="email" placeholder="Email" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group service-form-group">
                                                <label class="control-label sr-only" for="passwordregister"></label>
                                                <input id="passwordregister" type="password" name="passwordregister" placeholder="Password" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="wide mb20">
                                                    <option value="Vendor Purpose">Vendor Purpose</option>
                                                    <option value="Venue">Venue</option>
                                                    <option value="Photographer">Photographer</option>
                                                    <option value="Florist">Florist</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- buttons -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <button type="submit" name="singlebutton" class="btn btn-default">Sign up</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="mt-2"> Have you subscribed? <a href="#"> Login</a></p>
                            </div>
                        </div>
                        <!-- /.vendor-login -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>

</body>
</html>