<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/fontawesome-all.css}" rel="stylesheet"/>
    <link th:href="@{/fontello/css/fontello.css}" rel="stylesheet"/>
    <link th:href="@{/css/owl.carousel.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/owl.theme.default.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="vendor-bg-image">


<div class=" vendor-form">
    <div class="container">
        <div class="row ">
            <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12  ">
                <!-- vendor head -->
                <div class="vendor-head">
                    <a href="index.html"><img src="images/logo.png"
                                              alt="Wedding Vendor & Supplier Directory HTML Template "></a>
                </div>
                <!-- /.vendor head -->
                <div class="st-tab">
                    <ul class="nav nav-tabs nav-justified" id="Mytabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="tab-1" href="/login" aria-selected="false">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-2" href="/registration" aria-selected="true">Регистрация</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <!-- vendor title -->
                                <div class="vendor-form-title">
                                    <h3 class="mb-2">Регистрация</h3>
                                </div>
                                <!-- /.vendor title -->
                                <form autocomplete="off" action="#" th:action="@{/registration}"
                                      th:object="${user}" method="post" class="form-horizontal"
                                      role="form">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                       class="validation-message"></label>
                                                <input type="text" th:field="*{name}" placeholder="Имя"
                                                       class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                                       class="validation-message"></label>
                                                <input type="text" th:field="*{lastName}"
                                                       placeholder="Фамилия" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                <input type="text" th:field="*{email}" placeholder="Email"
                                                       class="form-control"/> <label
                                                    th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                    class="validation-message"></label>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                <input type="password" th:field="*{password}"
                                                       placeholder="Пароль" class="form-control"/> <label
                                                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                    class="validation-message"></label>
                                            </div>
                                        </div>

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <button type="submit" class="btn btn-default btn-block">Регистрация</button>
                                        </div>
                                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- vendor-login -->
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">

                        </div>
                        <!-- /.vendor-login -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menumaker.min.js}"></script>
<!-- owl-carousel js -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- nice-select js -->
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>
<script th:src="@{/js/return-to-top.js}"></script>

</body>
</html>